@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url("../fonts/BarlowCondensed-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/BarlowCondensed-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/BarlowCondensed-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/BarlowCondensed-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/BarlowCondensed-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/BarlowCondensed-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/BarlowCondensed-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BarlowCondensed-Medium";
  src: url("../fonts/BarlowCondensed-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/BarlowCondensed-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/BarlowCondensed-Medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/BarlowCondensed-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/BarlowCondensed-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/BarlowCondensed-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/BarlowCondensed-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BarlowCondensed-SemiBold";
  src: url("../fonts/BarlowCondensed-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/BarlowCondensed-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/BarlowCondensed-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/BarlowCondensed-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/BarlowCondensed-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/BarlowCondensed-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/BarlowCondensed-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Light";
  src: url("../fonts/Muli-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli-Light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli-Light.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-LightItalic";
  src: url("../fonts/Muli-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli-LightItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli-LightItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli-LightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli-LightItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli-LightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/Muli-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Italic";
  src: url("../fonts/Muli-Italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli-Italic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli-Italic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli-Italic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/Muli-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Bold";
  src: url("../fonts/Muli-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("../fonts/Muli-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli-ExtraBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Black";
  src: url("../fonts/Muli-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli-Black.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli-Black.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli-Black.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}